.dbl {
  background-color: #dbd9d9;
}

#myForm {
  margin: 0;
  padding: 0;
}

.telephone-example {
  border-style: none;
  border: 1px solid #757575;
  border-radius: 4px !important;
  cursor: pointer;
  outline:none;
}
