td {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  word-wrap: wrap;
}

.background-cell--active {
  background-color: #dbd9d9 !important;
}

input[type="tel"] {
  min-width: 110px;
  height: 30px;
  text-align: center;
  border-style: none;
  border: 1px solid #9c9c9c;
  border-radius: 4px !important;
  outline: none;
  padding: 0 10px 0 10px;
  margin: 0;
}

input[type="tel"]:invalid {
  border-color: red;
  box-shadow: 0 0 3px 0 red;
}

.invalid {
  border-color: red !important;
  box-shadow: 0 0 3px 0 red;
}
